# Editor stuff
.idea
.vscode
.env
*.iml

# Development assets
*.sqlite3
firebase.json
unichannel
app/static

# Inline configuration
site_config.py

# Node dependencies
node_modules

# Python stuff
venv
__pycache__
