<div class="row">
    <div *ngFor="let post of posts" class="col-md-6 col-sm-12">
        <div class="card">
            <div class="card-body">
                <a [href]="post.link" class="card-title"><h5 class="mb-1">{{post.title}}</h5></a>
                <p class="card-text text-muted mb-1">
                    <small>{{post.date | date}}</small>
                    <small *ngIf="post?.external">
                        &nbsp;
                        |
                        &nbsp;
                        <i class="fas fa-rss"></i>
                        &nbsp;
                        <span class="d-none d-md-inline">{{post?.external_source?.name}}</span>
                    </small>
                </p>
                <p *ngIf="post.description" class="card-text">
                    {{post.description}}
                </p>
                <p class="card-text">
                    <a class="mr-1" tabindex="0" *ngFor="let tag of post?.tags" (click)="tagClicked.emit('#' + tag.tag_name)">
                        #{{tag.tag_name}}
                    </a>
                </p>
            </div>
            <img *ngIf="post?.image" class="card-img-bottom" [src]="post?.image" [alt]="post.title">
        </div>
    </div>
</div>
