<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="main">
      <div class="section section-white">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto text-center title">
              <!-- <h2>A place for storytelling</h2>
              <h3 class="title-uppercase">
                <small>Written by designers for designers</small>
              </h3> -->
              <br><br>
            </div>
          </div>
          <div class="article">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center">
                  <a>
                    <h3 class="card-title">My Review of Pitchfork’s ‘Indie 500’ Album Review</h3>
                  </a>
                  <div class="card-description">
                    <p>In the first sentence of Pitchfork’s review of my collaborative project with 9th Wonder, INDIE 500, a reviewer who is associated with music review site rhapsody.com writes about how I criticize and then distance myself from “celebrity straw men” with the line “celebrities be making money...</p>
                  </div>
                  <div class="card-category">
                    <span class="badge badge-primary main-tag">Featured</span>
                  </div>
                  <br><br>
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img img-raised" src="../assets/img/sections/bruno-abatti.jpg">
                    </a>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <br/>
          <br/>
          <div class="article">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <div class="card card-blog card-plain text-center">
                  <a>
                    <h3 class="card-title">My Review of Pitchfork’s ‘Indie 500’ Album Review</h3>
                  </a>
                  <div class="card-description">
                    <p>In the first sentence of Pitchfork’s review of my collaborative project with 9th Wonder, INDIE 500, a reviewer who is associated with music review site rhapsody.com writes about how I criticize and then distance myself from “celebrity straw men” with the line “celebrities be making money...</p>
                  </div>
                  <div class="card-category">
                    <span class="badge badge-primary main-tag">Featured</span>
                    
                  </div>
                  <br><br>
                  <div class="card-image">
                    <a href="#pablo">
                      <img class="img img-raised" src="../assets/img/sections/bruno-abatti.jpg">
                    </a>
                  </div>
                  <div class="card-body">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
