<nav class="navbar navbar-expand fixed-top nav-down bg-danger" [ngClass]="{'is-scrolled': collapse}">
    <div class="container">
        <a class="navbar-brand" href="/" rel="tooltip" target="_self">
            <img height="48" src="assets/img/UniChallenge_logo.png" alt="UKnow">
            <img height="48" class="brand-text" src="assets/img/UniChallenge_text.png" alt="UKnow Title">
        </a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="search">
                    <app-search></app-search>
                </li>
            </ul>
        </div>
    </div>
</nav>
