.navbar {
    background: white;
    height: 90px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}

.navbar .search {
    display: none;
}

@media (max-width: 992px) {
    .navbar.is-scrolled .brand-text {
        display: none;
    }
}

.navbar.is-scrolled .search {
    display: none;
}

.navbar.is-scrolled .search {
    display: inline;
    animation-duration: 0.2s;
    animation-name: appears;
    animation-fill-mode: forwards;
}

@keyframes appears {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
